<section class="credits-container">
  <div class="list-group">
    <div class="list-group-item">
      <span>THANKS TO @MarshallOfSound (Samuel Attard) and @Malept(Mark Lee) of electron-forge for providing such
        a great plugin</span>
    </div>
    <div class="list-group-item">
      <span>THANKS TO @zeke of electron for such a tool to package angular for windows</span>
    </div>
    <div class="list-group-item">
      <span>THANKS TO @enyo of dropzone for providing such a flexible and efficient upload field</span>
    </div>
  </div>
</section>