<section class="plans-container">
  <div class="list-group">
    <div class="list-group-item">
      <span>Complete the query builder</span>
    </div>
    <div class="list-group-item">
      <span>Export METADATA directly from DB and use it to identify primary/composite keys and data types</span>
    </div>
    <div class="list-group-item">
      <span>Improve handling of data types for each column value - Add CONVERT scripts where ever required For e.g,
        convert Numeric value to string during concat and vice versa</span>
    </div>
    <div class="list-group-item">
      <span>Support uploading of manually fixed/modified sql files</span>
    </div>
  </div>
</section>