<section class="details-container">
  <div class="list-group">
    <div class="list-group-item">
      <span>AUTHOR: MANIKANDAN RAVIKUMAR</span>
    </div>
    <div class="list-group-item">
      <span>APP VERSION: ALPHA-1.0</span>
    </div>
    <div class="list-group-item">
      <span>This app accepts a single mapping spreadsheet through the dropzone upload component. It will then parse
        the mapping document and generates different insert/import scripts for each import table mapping</span>
    </div>
  </div>
</section>