.result-container {
    background: transparent;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5em 1em .5em 1em;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        box-sizing: border-box;
        h3 {
            margin: 0;
        }
    }
}