#history-section {
    height: 100%;
}

#history-section * {
    height: 100%;
}

section#filter-history {
    align-items: center;
    display: inline-table;
    flex-direction: column;
    width: 30rem;
    background: linear-gradient(to bottom, #eee, #ddd);
    border-radius: .5rem;
    overflow: hidden;
}

.filter-history-bg {
    height: auto;
}

.filter-history-bg-visible {
    height: 75% !important;
    border-radius: 1rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(52,40,238);
    background: linear-gradient(220deg, rgba(52,40,238,1) 0%, rgba(9,121,52,1) 54%, rgba(0,176,255,1) 100%);
}

section.filter-history {
    margin-left: .25rem;
    margin-right: .25rem;
    height: 92%!important;
}

.list-options{
    max-height: 16vh;
    min-height: 16vh;
}

@media screen and (max-height: 225px) {
    .filter-history-bg-visible {
        background:transparent;
    }
} 

@media screen and (min-width: 495px) {
    section#filter-history {
        width: 30rem;
    }
}

@media screen and (min-width: 415px) and (max-width: 495px) {
    section#filter-history {
        width: 25rem;
    }
}

@media screen and (max-width: 415px) {
    section#filter-history {
        width: 20rem;
    }
}

#history-section-actions {
    margin-top: 3rem;   
    overflow: hidden;
}