@import 'theme.scss'; 

.help-um-container {
    background: transparent;

    .list-group-item {
        margin: .2em;
        text-align: center;
        border-radius: 100em;
    }

    .img-container {
        display: flex;
        align-items: flex-end;
        text-align: center !important;
        padding-top: 1em !important;
    }
}