<section class="instructions-container">
  <div class="list-group">
    <div class="list-group-item">
      <span>
        Unpack the zip file to a folder of your choice. Please don't extract it directly under 'C' or 'D' drive.
      </span>
    </div>
    <div class="list-group-item">
      <span>
        Double click the "script-generator.exe" file
      </span>
    </div>
    <div class="list-group-item">
      <span>
        The application will open multiple times, but please wait for installer loading screen to disappear.
      </span>
    </div>
    <div class="list-group-item">
      <span>
        Once the installer completes, you can start using the tool. You can find the installed application under
        C:\Users\...\AppData\Local\script-generator.exe
      </span>
    </div>
  </div>
</section>