<section class="notes-container">
  <div class="list-group">
    <div class="list-group-item">
      <span>This is the initial version of app and there are lot of things that needs to be improved</span>
    </div>
    <div class="list-group-item">
      <span>This tool accepts a single mapping spreadsheet and generates conversion scripts based on mapping
        configuration</span>
    </div>
    <div class="list-group-item">
      <span>Mapping spreadsheet should follow certain standards/rules specified under RULES section below</span>
    </div>
    <div class="list-group-item">
      <span>Tool provides 3 export options a) Spreadsheet/Excel b) Single '.sql' file c) Multiple '.sql' file</span>
    </div>
    <div class="list-group-item">
      <span>Upload field supports drag and drop</span>
    </div>
  </div>
</section>