
#upload-content {
    height: 100%;
}

#upload-content * {
    height: 100%;
}

#upload-content, #upload-content-actions, #file-selector {
    overflow: hidden;
}

section.file-upload .tooltip {
    opacity: 1 !important;
}

#template-container {
    background-color: darkgrey;
}

section#file-selector {
    align-items: center;
    display: inline-table;
    flex-direction: column;
    width: 50rem;
    background: linear-gradient(to bottom, #eee, #ddd);
    border-radius: .5rem;
}

@media screen and (min-width: 992px) {
    .modal-lg {
        max-width: 80% !important;
    }
}

.btn-section {
    padding-bottom: 5px;
}

#upload-content-actions {
    margin-top: 3rem;   
}

.input-isn {
    display: inline-flex !important;
    min-width: 15rem !important;
}


.file-upload-bg-visible {
    border-radius: 1rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(52,40,238);
    background: linear-gradient(220deg, rgba(52,40,238,1) 0%, rgba(9,121,52,1) 54%, rgba(0,176,255,1) 100%);
}

section.file-upload {
    margin-left: .25rem;
    margin-right: .25rem;
    height: 92% !important;
}

.upload-actions-menu {
    height: fit-content;
    margin-bottom: .5rem;
    cursor: pointer;
}


@media screen and (min-width: 820px) {
    section#file-selector {
        width: 50rem;
    }
}

@media screen and (min-width: 725px) and (max-width: 820px) {
    section#file-selector {
        width: 40rem;
    }
}

@media screen and (min-width: 675px) and (max-width: 725px) {
    section#file-selector {
        width: 35rem;
    }
}

@media screen and (min-width: 495px) and (max-width: 675px) {
    section#file-selector {
        width: 30rem;
    }
}

@media screen and (max-width: 495px) {
    section#file-selector {
        width: 25rem;
    }
}


.aft-add-bg {
    height: auto;
}

.b4-add-v {
    height: 75% !important;
}

.aft-add-v {
    height: 80% !important;
} 

/* 
@media screen and (min-height: 685px) {
    .b4-add-bg {
        height: 55vh;
    }
    
    .aft-add-bg {
        height: 58vh;
    }
    
    .b4-add-v {
        height: 42vh;
    }
    
    .aft-add-v {
        height: 50vh;
    } 
} */


@media screen and (max-height: 335px) {
    .b4-add-v {
        background:transparent;
    }
} 

@media screen and (max-height: 383px) {
    .aft-add-v {
        background:transparent;
    }
} 

#upload-content .dropdown-menu {
	height: auto;
}