<p-dialog [(visible)]="display" modal="modal" [responsive]="true" [draggable]="true" [resizable]="false" [autoAlign]="true"
  [contentStyle]="{'min-width':'800px', 'max-height':'1200px', 'max-width':'1200px'}">
  <p-header>
    <span [innerHTML]="title"></span>
  </p-header>
  <div *ngIf="list">
    <div *ngIf="isEditor; then editorsection else resultsection"></div>
    <ng-template #resultsection>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr class="d-flex">
            <th scope="col" class="col-md-1">#</th>
            <th scope="col" class="col-md-3">Table Name</th>
            <th scope="col" class="col-md-8">Query</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; let i = index" class="d-flex">
            <td scope="row" class="col-md-1">
              <span [innerHTML]="i+1"></span>
            </td>
            <td class="col-md-3">
              <span [innerHTML]="item.destinationTable"></span>
            </td>
            <td class="col-md-8 table-info" (dblclick)="showEditor(i)">
              <span style="white-space: pre-line" [innerHTML]="item.destinationTableQuery"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <ng-template #editorsection>
      <div class="editor-section">
        <quill-editor #editor (onEditorCreated)="onEditorCreated($event)" (onContentChanged)="onContentChanged($event)" [ngModel]="editorText"
          [modules]="modules"></quill-editor>
        <div class="pt-3 text-right">
          <button pButton type="button" label="Done" icon="fa-check-circle-o" (click)="doneEditing()"></button>
        </div>
      </div>
    </ng-template>
  </div>
  <p-footer>
      <button type="button" pButton icon="fa-floppy-o" (click)="saveAndClose()" label="Save & Close"></button>
    <button type="button" pButton icon="fa-close" (click)="closePopup()" label="Close without Saving"></button>
  </p-footer>
</p-dialog>