<button #dialogBtn [hidden]="true" type="button" class="btn btn-primary" data-toggle="modal" data-target="#qbModalContainer">
  Launch demo modal
</button>

<div class="modal fade" id="qbModalContainer" tabindex="-1" role="dialog" aria-labelledby="qbModalContainerTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qbModalContainerTitle">
          <span [innerHTML]="title"></span>
        </h5>
        <button type="button" class="close" (click)="closePopup()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="itQuery" class="qb-content container-fluid">
          <div class="qb-header">
            <p-messages [(value)]="msgs"></p-messages>
          </div>
          <div class="row pb-2">
            <div class="col-auto">
              <div class="d-flex align-items-center justify-content-center p-2 content-left bg-primary text-white">SELECT</div>
            </div>
          </div>
          <div class="row pb-2" *ngFor="let item of itQuery.insertFields; let i = index">
            <div class="col-auto simple-field-control" *ngIf="isSimpleField(item)">
              <div class="row pb-2">
                <div *ngIf="item.pkPrefix" class="col-auto">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="item.pkPrefix">
                </div>
                <div *ngIf="item.sourceFieldName" class="col-auto">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="item.sourceFieldName">
                </div>
                <div *ngIf="item.concatValue" class="col-auto">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="item.concatValue">
                </div>
                <div *ngIf="item.sourceAliasName" class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">AS</div>
                </div>
                <div *ngIf="item.sourceAliasName" class="col-auto">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="item.sourceAliasName">
                </div>
              </div>
            </div>
            <div class="col-auto case-control" *ngIf="item.caseWhenCandidates.length > 0">
              <div class="row pb-2">
                <div class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">CASE WHEN</div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                  <span (click)="add('caseWhenCandidates', i)" class="text-primary d-flex align-self-center fa fa-lg fa-plus-circle" pTooltip="Add Condition"
                    tooltipPosition="bottom"></span>
                </div>
              </div>
              <div class="row pb-2" *ngFor="let candidate of item.caseWhenCandidates; let j1 = index">
                <div *ngIf="j1 > 0" class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">WHEN</div>
                </div>
                <div class="col-auto">
                  <div class="row pb-2" *ngFor="let cwc of candidate.conditions; let j2 = index">
                    <div class="col-auto">
                      <app-review-condition 
                        [condition]="cwc" 
                        [switch]="cwc.activeCondition" 
                        comp="caseWhenCandidates" 
                        [spIdx]="i" [pIdx]="j1" [cIdx]="j2" 
                        [ddOptions]="getDDOptions('caseWhenCandidates')"
                        (operandChange)="operandChanged($event)" 
                        (typeChange)="typeChanged($event, null, null, null, null)">
                      </app-review-condition>
                    </div>
                    <div class="col-auto d-flex justify-content-center">
                      <span (click)="remove('caseWhenCandidates', i, j1, j2)" class="text-primary d-flex align-self-center fa fa-lg fa-minus-circle"
                        pTooltip="Remove Condition" tooltipPosition="bottom"></span>
                    </div>
                  </div>
                  <div class="row pb-2">
                    <div class="col-auto">
                      <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">THEN</div>
                    </div>
                    <div *ngIf="candidate.caseValue" class="col-auto case-field">
                      <input AutoSizeInput type="text" class="form-control" [(ngModel)]="candidate.caseValue">
                    </div>
                    <div class="col-auto">
                      <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">ELSE</div>
                    </div>
                    <div *ngIf="candidate.elseValue != null" class="col-auto">
                      <input AutoSizeInput type="text" class="form-control" [(ngModel)]="candidate.elseValue">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pb-2 case-control-end">
                <div class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">
                    <span>END AS</span>
                    <span>&nbsp;</span>
                    <span [innerHTML]="item.sourceAliasName"></span>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="item.concatCandidates.length > 0" class="col-auto concat-control">
              <div class="row pb-2 concat-field">
                <div class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">CASE WHEN</div>
                </div>
                <div *ngIf="item.sourceFieldName" class="col-auto concat-field-controls">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="item.sourceFieldName">
                  <input AutoSizeInput type="text" class="form-control" value="IS NOT NULL">
                </div>
              </div>
              <div class="row pb-2">
                <div class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">THEN</div>
                </div>
                <div *ngIf="item.sourceFieldName" class="col-auto">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="item.sourceFieldName">
                </div>
                <div class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-right text-white">ELSE EMPTY</div>
                </div>
              </div>
              <div class="row pb-2 concat-field" *ngFor="let cc of item.concatCandidates; let k = index">
                <div class="col-auto concat-field-content">
                  <div class="row pb-2">
                    <div class="col-auto">
                      <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">CASE WHEN</div>
                    </div>
                    <div class="col-auto">
                      <div class="fa fa-plus"></div>
                    </div>
                  </div>
                  <div class="row pb-2 concat-field-controls">
                    <div *ngIf="cc.fieldName" class="col-auto">
                      <input AutoSizeInput type="text" class="form-control" [(ngModel)]="cc.fieldName">
                      <input AutoSizeInput type="text" class="form-control" value="IS NOT NULL">
                    </div>
                  </div>
                  <div class="row pb-2">
                    <div class="col-auto">
                      <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">THEN</div>
                    </div>
                    <div *ngIf="cc.fieldName" class="col-auto">
                      <input AutoSizeInput type="text" class="form-control" [(ngModel)]="cc.fieldName">
                    </div>
                    <div class="col-auto">
                      <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">ELSE EMPTY</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pb-2 concat-control-end">
                <div class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">
                    <span>END AS</span>
                    <span>&nbsp;</span>
                    <span [innerHTML]="item.sourceAliasName"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pb-2 from-content">
            <div class="col-auto">
              <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">FROM</div>
            </div>
            <div *ngIf="sourceTable" class="col-auto">
              <input AutoSizeInput type="text" class="form-control" [(ngModel)]="sourceTable">
            </div>
          </div>
          <div *ngIf="itQuery.tableJoins.length > 0" class="row pb-2 join-content">
            <div class="col-auto" *ngFor="let tj of itQuery.tableJoins; let k1 = index">
              <div class="row pb-2">
                <div class="col-auto">
                  <ng-select [items]="jTypes" [clearable]="false" bindLabel="label" bindValue="value" [(ngModel)]="tj.joinType"
                    (change)="typeChanged($event, 'tableJoins', 'joinType', k1, null)">
                  </ng-select>
                </div>
                <div class="col-auto">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="tj.tableName">
                </div>
                <div class="col-auto">
                  <input AutoSizeInput type="text" class="form-control" [(ngModel)]="tj.tableAlias">
                </div>
              </div>
              <div class="row pb-2" *ngFor="let jc of tj.joinConditions; let k2 = index">
                <div *ngIf="k2 == 0" class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-right text-white">ON</div>
                </div>
                <div class="col-auto">
                  <app-review-condition 
                    [condition]="jc" 
                    [switch]="jc.activeCondition" 
                    comp="tableJoins" 
                    [pIdx]="k1" [cIdx]="k2" 
                    [ddOptions]="getDDOptions('tableJoins')"
                    (operandChange)="operandChanged($event)" 
                    (typeChange)="typeChanged($event, null, null, null)">
                  </app-review-condition>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="itQuery.whereConditions.length > 0" class="row pb-2 where-content">
            <div class="col-auto">
              <div class="row pb-2">
                <div class="col-auto">
                  <div class="d-flex justify-content-center align-items-center p-2 bg-primary content-left text-white">WHERE</div>
                </div>
                <div class="col-auto d-flex justify-content-center">
                  <span (click)="add('whereConditions')" class="text-primary d-flex align-self-center fa fa-lg fa-plus-circle" pTooltip="Add Condition"
                    tooltipPosition="bottom"></span>
                </div>
              </div>
              <div class="row pb-2" *ngFor="let wc of itQuery.whereConditions; let l = index">
                <div class="col-auto">
                  <app-review-condition 
                    [condition]="wc" 
                    [switch]="wc.activeCondition" 
                    comp="whereConditions" 
                    [pIdx]="l" 
                    [ddOptions]="getDDOptions('whereConditions')" 
                    (operandChange)="operandChanged($event)" 
                    (typeChange)="typeChanged($event, null, null, null)">
                  </app-review-condition>
                </div>
                <div class="col-auto d-flex justify-content-center">
                  <span (click)="remove('whereConditions', l)" class="text-primary d-flex align-self-center fa fa-lg fa-minus-circle" pTooltip="Remove Condition"
                    tooltipPosition="bottom"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closePopup()" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="save()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>